*{
    margin: 0;
    padding: 0;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 1px 2px 3px #999;
}

header .logo img{
    width: 60px;
}

header nav i {
    font-size: 50px;
}
header nav .nav-list {
    display: none;
}
header nav ul.showed_Nav_List {
    display: block;
}