*{
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 40px;
    box-shadow: 0px 1px 2px 1px #dad2d2;
}
header .logo img {
    width: 40px;
    background: rgb(178, 178, 207);
    padding: 5px;
    border-radius: 5px;
}
header .nav-list{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
header  .menu-logo{
    display: none;
}

@media screen and (max-width: 547px){
    nav .menu-logo {
        display: block;
        margin-left: 20px;
    }
    nav .nav-list{
        display: none;

    }
    nav.onscreen {
        width: 100%;
        position: absolute;
        z-index: 1;
        height: 100vh;
        background: #999;
    }
    nav.onscreen .nav-list{
        display: block;
    }
}